@charset "utf-8";
html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	font-family: 'M PLUS 1p', sans-serif;
	font-weight: normal;
	color: #3C2A10;
	background: #FFFDFA;
	line-height: 1.3;
}
body, div, p, h1, h2, h3, h4, ul, figure {
	margin: 0;
	padding: 0;
}
img {
	width: 100%;
	height: auto;
}
a {
	text-decoration: none;
}
input[type="text"]:focus {
	outline: 0;
}