@charset "UTF-8";
/*=====breakpoint=====*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: normal;
  color: #3C2A10;
  background: #FFFDFA;
  line-height: 1.3;
}

body, div, p, h1, h2, h3, h4, ul, figure {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #707070;
}

input {
  width: 100%;
}

input[type="text"]:focus {
  outline: 0;
}

/*=====テーマチェック 対応=====*/
.wp-caption {
  font-size: 1.3rem;
}

.wp-caption-text {
  margin-top: -20px;
}

.sticky {
  padding: 20px;
  background-color: #f3f3f3;
}

.gallery-caption {
  font-size: 1.3rem;
}

.bypostauthor {
  padding: 20px;
  background-color: #f0f8ff;
}

.alignleft {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.alignright {
  float: right;
  margin-bottom: 20px;
  margin-left: 20px;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*=====mediaquery=====*/
.l-header {
  background-color: #FFF7EF;
}

.l-footer {
  background-color: #9D8670;
}

.l-sidebar {
  background-color: #F2EDE9;
  width: 90%;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  overflow-y: scroll;
  z-index: 10;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (min-width: 600px) {
  .l-sidebar {
    width: 367px;
  }
}

@media (min-width: 1024px) {
  .l-sidebar {
    width: 19%;
    right: 0;
    position: static;
    overflow-y: visible;
  }
}

.l-sidebar.is-open {
  right: 0;
}

.l-sidebar::-webkit-scrollbar {
  display: none;
}

.l-main {
  /*=====archive======*/
  /*=====single=====*/
  /*=====ブロックエディター=====*/
}

.l-main__inner-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 2rem 0;
}

@media (min-width: 600px) {
  .l-main__inner-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 4rem 0 0 4rem;
  }
}

@media (min-width: 1024px) {
  .l-main__inner-block {
    padding: 7.7% 1.9% 0 7%;
  }
}

.l-main__archive-inner-block {
  padding: 0 2rem;
}

@media (min-width: 600px) {
  .l-main__archive-inner-block {
    padding: 0 4.2% 0 5.15%;
  }
}

@media (min-width: 1024px) {
  .l-main__archive-inner-block {
    padding: 0 6.44%;
  }
}

.l-main__single-inner-block {
  padding: 0 2rem;
  margin-top: 3rem;
  /*=====リスト部分=====*/
}

@media (min-width: 600px) {
  .l-main__single-inner-block {
    padding: 0 7.2%;
    margin-top: 6rem;
  }
}

@media (min-width: 1024px) {
  .l-main__single-inner-block {
    padding: 0 6.44%;
  }
}

.l-main__single-inner-block h2 {
  font-size: 2.8rem;
}

@media (min-width: 600px) {
  .l-main__single-inner-block h2 {
    font-size: 3.6rem;
  }
}

.l-main__single-inner-block p {
  margin-bottom: 3.4rem;
}

@media (min-width: 600px) {
  .l-main__single-inner-block p {
    margin-bottom: 6rem;
  }
}

.l-main__single-inner-block h3 {
  font-size: 2.4rem;
}

@media (min-width: 600px) {
  .l-main__single-inner-block h3 {
    font-size: 2.8rem;
  }
}

.l-main__single-inner-block h4 {
  font-size: 2rem;
}

.l-main__single-inner-block h2, .l-main__single-inner-block h3, .l-main__single-inner-block h4 {
  margin-bottom: 3rem;
}

@media (min-width: 600px) {
  .l-main__single-inner-block h2, .l-main__single-inner-block h3, .l-main__single-inner-block h4 {
    margin-bottom: 6rem;
  }
}

.l-main__single-inner-block img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  max-height: 264px;
  vertical-align: bottom;
}

@media (min-width: 1024px) {
  .l-main__single-inner-block img {
    max-height: 500px;
  }
}

.l-main__single-inner-block ul, .l-main__single-inner-block ol {
  padding-left: 2rem;
}

@media (min-width: 600px) {
  .l-main__single-inner-block ul, .l-main__single-inner-block ol {
    padding-left: 5rem;
  }
}

.l-main__single-inner-block ul {
  margin-bottom: 3rem;
}

@media (min-width: 600px) {
  .l-main__single-inner-block ul {
    margin-bottom: 6rem;
  }
}

.l-main__single-inner-block ul li:nth-child(4) ul {
  margin: 2rem 0;
  padding-left: 1.8rem;
}

.l-main__single-inner-block ol {
  margin-bottom: 6rem;
}

.l-main__single-inner-block ol li:nth-child(4) ol {
  margin: 2rem 0;
  padding-left: 1.8rem;
}

.l-main__single-inner-block strong {
  display: block;
  margin-bottom: 7rem;
}

@media (min-width: 1024px) {
  .l-main__single-inner-block strong {
    margin-bottom: 18rem;
  }
}

.l-main__single-inner-block .wp-block-quote {
  padding: 3rem 1.6rem 3rem 2rem;
  background-color: #F5F5F5;
  margin-bottom: 3rem;
}

@media (min-width: 600px) {
  .l-main__single-inner-block .wp-block-quote {
    padding: 5rem 5.6rem 6rem 5rem;
    margin-bottom: 6rem;
  }
}

@media (min-width: 1024px) {
  .l-main__single-inner-block .wp-block-quote {
    padding: 5rem 6rem 5rem 5rem;
  }
}

.l-main__single-inner-block .wp-block-quote p {
  margin-bottom: 3rem;
}

@media (min-width: 600px) {
  .l-main__single-inner-block .wp-block-quote p {
    margin-bottom: 6rem;
  }
}

.l-main__single-inner-block .wp-block-media-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 3rem 0;
}

@media (min-width: 600px) {
  .l-main__single-inner-block .wp-block-media-text {
    margin: 6rem 0;
  }
}

.l-main__single-inner-block .wp-block-media-text__media {
  width: 42.7%;
}

.l-main__single-inner-block .wp-block-media-text__media img {
  display: block;
  max-width: 100%;
  height: auto;
}

.l-main__single-inner-block .wp-block-media-text__content {
  width: 54%;
  margin-left: 1rem;
  padding: 0;
}

@media (min-width: 600px) {
  .l-main__single-inner-block .wp-block-media-text__content {
    margin-left: 2.1rem;
  }
}

@media (min-width: 1024px) {
  .l-main__single-inner-block .wp-block-media-text__content {
    margin-left: 4rem;
  }
}

.l-main__single-inner-block .wp-block-media-text__content p {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .l-main__single-inner-block .has-media-on-the-right {
    margin-top: 11.7rem;
  }
}

@media (min-width: 1024px) {
  .l-main__single-inner-block .has-media-on-the-right {
    margin-top: 6rem;
  }
}

.l-main__single-inner-block .has-media-on-the-right figure {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.l-main__single-inner-block .has-media-on-the-right .wp-block-media-text__content {
  margin-left: 0;
  margin-right: 1rem;
}

@media (min-width: 600px) {
  .l-main__single-inner-block .has-media-on-the-right .wp-block-media-text__content {
    margin-right: 2.1rem;
  }
}

@media (min-width: 1024px) {
  .l-main__single-inner-block .has-media-on-the-right .wp-block-media-text__content {
    margin-right: 4rem;
  }
}

.l-main__single-inner-block .wp-block-image {
  margin-bottom: 0;
}

.l-main__single-inner-block .wp-block-image .aligncenter {
  display: block;
  width: 79.7%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .l-main__single-inner-block .wp-block-image .aligncenter {
    width: 81.4%;
  }
}

@media (min-width: 1024px) {
  .l-main__single-inner-block .wp-block-image .aligncenter {
    width: 581px;
  }
}

.l-main__single-inner-block .wp-block-image .aligncenter img {
  max-height: none;
}

.l-main__single-inner-block .blocks-gallery-grid {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  margin: 3rem 0;
  padding: 0;
}

@media (min-width: 600px) {
  .l-main__single-inner-block .blocks-gallery-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1.6rem;
    margin: 24.1rem 0 6rem 0;
  }
}

@media (min-width: 1024px) {
  .l-main__single-inner-block .blocks-gallery-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 6rem;
  }
}

.l-main__single-inner-block .blocks-gallery-grid .blocks-gallery-item {
  width: 100%;
  margin: 0;
}

.l-main__single-inner-block .blocks-gallery-grid .blocks-gallery-item figure {
  height: 100%;
}

.l-main__single-inner-block .wp-block-code {
  padding: 5rem;
  background-color: #F5F5F5;
}

.l-main__single-inner-block .wp-block-code code {
  font-family: 'M PLUS 1p', sans-serif;
}

.l-main__single-inner-block .wp-block-table {
  margin: 3rem 0;
}

@media (min-width: 600px) {
  .l-main__single-inner-block .wp-block-table {
    margin: 6rem 0;
  }
}

@media (min-width: 1024px) {
  .l-main__single-inner-block .wp-block-table {
    margin: 5rem 0 6rem;
  }
}

.l-main__single-inner-block .wp-block-table table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.l-main__single-inner-block .wp-block-table table td {
  border: 1px solid #707070;
  padding: 3rem;
}

.l-main__single-inner-block .wp-block-table table td:nth-child(odd) {
  width: 40%;
}

@media (min-width: 600px) {
  .l-main__single-inner-block .wp-block-table table td:nth-child(odd) {
    width: 30%;
  }
}

.l-main__single-inner-block .wp-block-button {
  width: 100%;
  margin-bottom: 3rem;
}

@media (min-width: 600px) {
  .l-main__single-inner-block .wp-block-button {
    margin-bottom: 6rem;
  }
}

.l-main__single-inner-block .wp-block-button__link {
  display: block;
  height: 81px;
  background-color: #F2EDE9;
  color: #3C2A10;
  text-align: center;
  line-height: 81px;
  border-radius: 20px;
  border: 1px solid #707070;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0;
}

@media (min-width: 600px) {
  .l-main__single-inner-block .wp-block-button__link {
    width: 429px;
    height: 104px;
    line-height: 104px;
  }
}

@media (min-width: 1024px) {
  .l-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.l-wrapper__mask {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.l-wrapper__mask.is-open {
  width: 100%;
  height: 100%;
  opacity: 1;
}

@media (min-width: 1024px) {
  .l-wrapper__mask.is-open {
    opacity: 0;
  }
}

@media (min-width: 1024px) {
  .l-container {
    width: 81%;
  }
}

.l-container__error {
  padding: 3rem 1.5rem;
}

.l-container__error h2 {
  margin-bottom: 2.4rem;
}

.l-container__error p {
  margin-bottom: 1.6rem;
}

.l-container__error p a {
  text-decoration: underline;
}

/*=====header=====*/
.c-site-title {
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
}

@media (min-width: 1024px) {
  .c-site-title {
    font-size: 6.4rem;
  }
}

/*=====footer======*/
.c-copyright-title {
  font-size: 1.4rem;
}

/*=====top画面=====*/
.c-top-title {
  font-size: 3.6rem;
  color: #fff;
  position: absolute;
}

@media (min-width: 1024px) {
  .c-top-title {
    font-size: 4rem;
  }
}

.c-top-title--archive {
  font-family: 'Roboto', serif;
}

@media (min-width: 600px) {
  .c-top-title--archive {
    font-size: 6rem;
  }
}

@media (min-width: 600px) {
  .c-top-title--single {
    font-size: 6rem;
  }
}

/*=====front=====*/
.c-service-title {
  font-family: 'Roboto', serif;
  font-size: 4.1rem;
  color: #fff;
  position: absolute;
}

@media (min-width: 1024px) {
  .c-service-title {
    font-size: calc(4rem + ((1vw - 10.24px) * 4.4643));
  }
}

.c-service-title::after {
  content: "";
  display: block;
  width: 3.4rem;
  height: .4rem;
  background-color: #fff;
  position: absolute;
}

@media (min-width: 1024px) {
  .c-service-title::after {
    width: 6.3rem;
  }
}

.c-map-title {
  font-size: 3rem;
  position: relative;
}

.c-map-title::after {
  content: "";
  display: block;
  width: 7.5rem;
  height: .2rem;
  background-color: #fff;
  position: absolute;
}

@media (min-width: 1024px) {
  .c-map-title {
    font-size: 3.6rem;
  }
}

/*=====archive=====*/
.c-top-subtitle {
  font-size: 1.6rem;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bold;
}

.c-card-title {
  font-size: 2rem;
}

@media (min-width: 1024px) {
  .c-card-title {
    font-size: 3.6rem;
  }
}

.c-card-title a {
  color: #fff;
}

/*=====seach=====*/
.c-archive-search-txt {
  text-align: center;
}

/*=====header=====*/
.c-menu-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

@media (min-width: 600px) {
  .c-menu-btn {
    font-size: 3.6rem;
  }
}

.c-search-btn {
  font-size: 1.6rem;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: normal;
  background-color: #E8E3DE;
  border: 1px solid #707070;
  border-radius: 10px;
}

.c-search-btn input {
  padding: 1.5rem 2.3rem;
}

/*=====archive=====*/
.c-card-btn {
  display: block;
  width: 163px;
  height: 42px;
  background-color: #fff;
  border-radius: 100vh;
  color: #707070;
  text-align: center;
  line-height: 42px;
}

@media (min-width: 1024px) {
  .c-card-btn {
    width: 292px;
    height: 76px;
    line-height: 76px;
  }
}

/*=====sidebar=====*/
.c-close-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  position: relative;
}

.c-close-btn::before, .c-close-btn::after {
  content: "";
  display: block;
  width: 140%;
  height: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  position: absolute;
  top: calc(0% - 3px);
  left: 0%;
  background-color: #707070;
}

.c-close-btn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  left: auto;
  right: 0%;
}

@media (min-width: 1024px) {
  .c-close-btn {
    visibility: hidden;
  }
}

.c-pagenation__sp {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 6rem 0 3rem 0;
}

@media (min-width: 600px) {
  .c-pagenation__sp {
    display: none;
  }
}

.c-pagenation .wp-pagenavi {
  display: none;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 11.2rem 0 3.7rem 0;
}

@media (min-width: 600px) {
  .c-pagenation .wp-pagenavi {
    display: block;
  }
}

@media (min-width: 1024px) {
  .c-pagenation .wp-pagenavi {
    margin: 15.7rem 0 6.7rem 0;
  }
}

.c-pagenation .wp-pagenavi .pages {
  padding: 0;
  margin: 0 1.7rem 0 0;
  color: #707070;
  border: none;
}

.c-pagenation .wp-pagenavi .current, .c-pagenation .wp-pagenavi .page {
  padding: .7rem 1.2rem;
  border: 1px solid #707070;
  margin: 0 1.5rem 0 0;
}

.c-pagenation .wp-pagenavi .current {
  color: #fff;
  background-color: #3C2B1C;
}

.c-pagenation .wp-pagenavi .previouspostslink, .c-pagenation .wp-pagenavi .nextpostslink {
  padding: 0;
  border: none;
  margin: 0 1.7rem 0 .2rem;
}

.p-header-inner {
  text-align: right;
  color: #707070;
  padding: 1.4rem 1.6rem 3.8rem 2.4rem;
}

@media (min-width: 1024px) {
  .p-header-inner {
    padding: 6.7rem 3rem 6.7rem 6.5rem;
  }
}

@media (min-width: 1024px) {
  .p-header-inner__menu-btn {
    display: none;
  }
}

.p-header-inner__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (min-width: 1024px) {
  .p-header-inner__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-header-inner__site-title {
  margin-bottom: 3.8rem;
}

@media (min-width: 1024px) {
  .p-header-inner__site-title {
    margin: 0;
  }
}

.p-header-inner__search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-header-inner__search-field {
  border: 1px solid #707070;
  border-radius: 10px;
  font-size: 1.6rem;
  padding: 1.1rem 0 1.1rem 1.6rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
}

.p-header-inner__search-icon {
  font-size: 2.4rem;
  vertical-align: middle;
  margin-right: .9rem;
}

.p-header-inner__search-btn {
  margin-left: 1.2rem;
}

.p-footer-inner {
  text-align: center;
  color: #fff;
  padding-top: 4.3rem;
  padding-bottom: 3.2rem;
}

.p-footer-inner__footer-nav {
  margin-bottom: 3.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-footer-inner__footer-nav li {
  list-style: none;
  padding: 0 .5rem;
}

.p-footer-inner__footer-nav li + li {
  border-left: 1px solid #fff;
}

.p-footer-inner__footer-nav li a {
  color: #fff;
  font-size: 2rem;
}

.p-sidebar-inner {
  padding: 2.5rem 1.7rem 0 0;
  text-align: right;
  color: #707070;
}

@media (min-width: 1024px) {
  .p-sidebar-inner {
    padding-right: 4.6%;
  }
}

.p-sidebar-inner__menu {
  display: none;
}

@media (min-width: 1024px) {
  .p-sidebar-inner__menu {
    display: block;
    margin: -16.7rem 0 9rem;
  }
}

.p-sidebar-inner__menu-wrapper {
  text-align: left;
  margin: 19.2rem .5rem 0 4.6rem;
}

@media (min-width: 1024px) {
  .p-sidebar-inner__menu-wrapper {
    margin-left: 13.1%;
  }
}

.p-sidebar-inner__menu-category {
  font-size: 2.4rem;
  list-style: none;
}

.p-sidebar-inner__menu-category > li > a {
  font-weight: bold;
}

.p-sidebar-inner__menu-category .sub-menu {
  list-style: none;
  font-size: 2rem;
  padding: 4.4rem 0 5rem 2rem;
}

@media (min-width: 1024px) {
  .p-sidebar-inner__menu-category .sub-menu {
    font-size: calc(1.5rem + ((1vw - 10.24px) * 0.558));
    padding-left: 6.7%;
  }
}

.p-sidebar-inner__menu-category .sub-menu li {
  padding-bottom: 3rem;
}

.p-sidebar-inner__menu-category .sub-menu li:last-child {
  padding-bottom: 0;
}

/*=====front,single,page=====*/
.p-top {
  position: relative;
  /*=====frontのみ=====*/
  /*=====終わり=====*/
  /*=====single,page=====*/
}

.p-top__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 285px;
  vertical-align: bottom;
}

@media (min-width: 1024px) {
  .p-top__img {
    height: 530px;
  }
}

.p-top__title {
  top: 50%;
  left: 25px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  /*=====archive,search======*/
}

@media (min-width: 600px) {
  .p-top__title {
    left: 86px;
  }
}

@media (min-width: 600px) {
  .p-top__title br {
    display: none;
  }
}

.p-top--archive {
  background-color: #000;
}

.p-top__archive-img {
  -o-object-position: 0% 0%;
     object-position: 0% 0%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 285px;
  vertical-align: bottom;
}

@media (min-width: 1024px) {
  .p-top__archive-img {
    display: none;
  }
}

.p-top__archive-img-pc {
  -o-object-fit: cover;
     object-fit: cover;
  height: 239px;
  vertical-align: bottom;
  display: none;
}

@media (min-width: 1024px) {
  .p-top__archive-img-pc {
    display: block;
  }
}

.p-top__subtitle {
  vertical-align: middle;
}

.p-top .wp-post-image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 225px;
  vertical-align: bottom;
}

@media (min-width: 600px) {
  .p-top .wp-post-image {
    height: 500px;
  }
}

.p-top__noimage {
  background-color: gray;
  opacity: 0.5;
  display: block;
}

.p-top__noimage img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 225px;
  vertical-align: bottom;
  opacity: 0.5;
}

@media (min-width: 600px) {
  .p-top__noimage img {
    height: 500px;
  }
}

.p-service {
  position: relative;
  margin-bottom: 2rem;
}

@media (min-width: 600px) {
  .p-service {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0 4rem 4rem 0;
  }
}

@media (min-width: 1024px) {
  .p-service {
    margin: 0 5.6% 9.2% 0;
  }
}

.p-service a {
  color: #3C2A10;
}

.p-service__img {
  height: auto;
}

.p-service__title {
  top: 10px;
  left: 10px;
}

@media (min-width: 1024px) {
  .p-service__title {
    top: 20px;
    left: 20px;
  }
}

.p-service__title::after {
  top: 76px;
  left: 3.5px;
}

@media (min-width: 1024px) {
  .p-service__title::after {
    top: 135%;
    left: 6.5px;
  }
}

.p-service__content {
  position: absolute;
  padding: 2rem 1.4rem 2.3rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 1rem;
  height: 25%;
}

@media (min-width: 1024px) {
  .p-service__content {
    padding: 1.7rem 2.5rem 0 2rem;
  }
}

.p-service__content--1 {
  top: 46%;
}

.p-service__content--2 {
  top: 72.5%;
}

.p-service__heading {
  font-size: 2.2rem;
  line-height: 1;
  padding-bottom: 2rem;
  white-space: nowrap;
}

@media (min-width: 1024px) {
  .p-service__heading {
    font-size: 2.4rem;
    padding-bottom: 2.6rem;
  }
}

.p-service__txt {
  line-height: 1.5;
  height: 62%;
  overflow-y: scroll;
}

.p-service__txt::-webkit-scrollbar {
  display: none;
}

.p-map {
  background: url(../images/front-img04.png), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), color-stop(60%, rgba(0, 0, 0, 0.7)), color-stop(60%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: url(../images/front-img04.png), linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  padding: 4rem 4rem 5.1rem;
  height: 691px;
}

.p-map::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

@media (min-width: 600px) {
  .p-map {
    height: 415px;
    padding: 4rem 3rem 0 4.2rem;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media (min-width: 1024px) {
  .p-map {
    height: 649px;
    padding: 8.3rem 0 0 12rem;
    background: url(../images/front-img04.png), -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), color-stop(61.3%, rgba(0, 0, 0, 0.7)), color-stop(61.3%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background: url(../images/front-img04.png), linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 61.3%, rgba(0, 0, 0, 0) 61.3%, rgba(0, 0, 0, 0) 100%);
    background-size: 100% 100%;
  }
}

.p-map__title {
  padding-bottom: 4rem;
}

@media (min-width: 1024px) {
  .p-map__title {
    padding-bottom: 12rem;
  }
}

.p-map__title::after {
  top: 59px;
  left: 2px;
}

@media (min-width: 1024px) {
  .p-map__title::after {
    top: 101.5px;
  }
}

.p-map__txt {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2.3;
  position: relative;
  height: 518px;
  overflow-y: scroll;
}

@media (min-width: 600px) {
  .p-map__txt {
    height: 288px;
  }
}

@media (min-width: 1024px) {
  .p-map__txt {
    font-size: 1.6rem;
    line-height: 2;
    width: 48.7%;
    height: 386px;
  }
}

.p-map__txt::-webkit-scrollbar {
  display: none;
}

.p-text__heading {
  font-size: 2.8rem;
  padding: 3rem 0;
}

@media (min-width: 600px) {
  .p-text__heading {
    font-size: 3.6rem;
    padding: 3.6rem 0 2.5rem 0;
  }
}

@media (min-width: 1024px) {
  .p-text__heading {
    padding-top: 6rem;
  }
}

.p-text__txt {
  margin-bottom: 2rem;
}

@media (min-width: 600px) {
  .p-text__txt {
    margin-bottom: 3.7rem;
  }
}

@media (min-width: 1024px) {
  .p-text__txt {
    margin-bottom: 7rem;
  }
}

/*=====archive=====*/
.p-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

@media (min-width: 600px) {
  .p-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .p-card {
    margin-bottom: 3rem;
  }
}

@media (min-width: 600px) {
  .p-card img {
    width: 50%;
  }
}

.p-card__body {
  background-color: #3C2B1C;
  color: #fff;
}

@media (min-width: 600px) {
  .p-card__body {
    width: 50%;
  }
}

.p-card__block {
  padding-left: 5%;
}

@media (min-width: 600px) {
  .p-card__block {
    padding-left: 9.1%;
  }
}

.p-card__block h2 {
  font-size: 1.6rem;
}

@media (min-width: 1024px) {
  .p-card__block h2 {
    font-size: 2.4rem;
  }
}

.p-card__block p {
  margin-top: 1rem;
  padding-right: 21.7%;
}

@media (min-width: 600px) {
  .p-card__block p {
    padding-right: 15.6%;
  }
}

@media (min-width: 1024px) {
  .p-card__block p {
    margin-top: 1.7rem;
  }
}

.p-card__title {
  margin: 3rem 0 2.4rem;
}

@media (min-width: 1024px) {
  .p-card__title {
    margin: 5.3rem 0 4.7rem;
  }
}

.p-card__btn {
  margin: 4rem auto;
}

@media (min-width: 1024px) {
  .p-card__btn {
    margin: 6rem auto;
  }
}
/*# sourceMappingURL=style.css.map */