@charset "utf-8";
.c-img {
    &__top {
        object-fit: cover;
        height: 285px;
        @include pc {
            height: 530px;
        }   
    }
    &__service {
        height: auto;
    }
}