@charset "utf-8";
/*=====header=====*/
.c-site-title {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    @include pc {
        font-size: 6.4rem;
    }
}
/*=====footer======*/
.c-copyright-title {
    font-size: 1.4rem;
}
/*=====top画面=====*/
.c-top-title {
    font-size: 3.6rem;
    color: #fff;
    position: absolute;
    @include pc {
        font-size: 4rem;
    }
    &--archive {
        font-family: 'Roboto', serif;
        @include tab {
            font-size: 6rem;
        } 
    }
    &--single {
        @include tab {
            font-size: 6rem;
        }
    }
}
/*=====front=====*/
.c-service-title {
    font-family: 'Roboto', serif;
    font-size: 4.1rem;
    color: #fff;
    position: absolute;
    @include pc {
        font-size: calc(4rem + ((1vw - 10.24px) * 4.4643));
    }
    &::after {
        content: "";
        display: block;
        width: 3.4rem;
        height: .4rem;
        background-color: #fff;
        position: absolute;
        @include pc {
            width: 6.3rem;
        }
    }  
}
.c-map-title {
    font-size: 3rem;
    position: relative;
    &::after {
        content: "";
        display: block;
        width: 7.5rem;
        height: .2rem;
        background-color: #fff;
        position: absolute;
    }
    @include pc {
        font-size: 3.6rem;
    }
}
/*=====archive=====*/
.c-top-subtitle {
    font-size: 1.6rem;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: bold;
}
.c-card-title {
    font-size: 2rem;
    @include pc {
        font-size: 3.6rem;
    }
    a {
        color: #fff;
    }
}