@charset "utf-8";
/*=====archive=====*/
.p-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    @include tab {
        flex-direction: row;
    }
    img {
        @include tab {
            width: 50%;
        }
    }
    &__body {
        background-color: #3C2B1C;
        color: #fff;
        @include tab {
            width: 50%;
        }
    }
    &__block {
        padding-left: 5%;
        @include tab {
            padding-left: 9.1%;
        }
        h2 {
            font-size: 1.6rem;
            @include pc {
                font-size: 2.4rem;
            }
        }
        p {
            margin-top: 1.3rem;
            padding-right: 21.7%;
            @include tab {
                padding-right: 15.6%;
            }
            @include pc {
                margin-top: 2.2rem;
            }
        }
    }
    &__title {
        margin: 3.4rem 0 3.1rem;
        @include pc {
            margin: 6rem 0;
        }
    }
    &__btn {
        margin: 4rem auto;
        @include pc {
            margin: 6rem auto;
        }
    }
    /*=====single=====*/
    &--single {
        flex-direction: row;
        margin: 3rem 0;
        height: 176px;
        @include tab {
            height: auto;
            margin: 6rem 0;
        }
        p {
            margin-bottom: 0;
        }
        + div {
            @include tab {
                margin-top: 11.7rem;
            }
            @include pc {
                margin-top: 6rem;
            }
        }
    }
    &__single-right-txt {
        margin-left: 1rem;
        @include tab {
            margin-left: 2.1rem;
        }
        @include pc {
            margin-left: 4rem;
        }
    }
    &__single-left-txt {
        margin-right: 1rem;
        @include tab {
            margin-right: 2.1rem;
        }
        @include pc {
            margin-right: 4rem;
        }
    }
    &__single-img {
        order: 2;
    }
}