@charset "utf-8";
/*=====archive=====*/
.p-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    @include tab {
        flex-direction: row;
    }
    @include pc {
        margin-bottom: 3rem;
    }
    img {
        @include tab {
            width: 50%;
        }
    }
    &__body {
        background-color: #3C2B1C;
        color: #fff;
        @include tab {
            width: 50%;
        }
    }
    &__block {
        padding-left: 5%;
        @include tab {
            padding-left: 9.1%;
            overflow-y: scroll;
        }
        h2 {
            font-size: 1.6rem;
            @include pc {
                font-size: 2.4rem;
            }
        }
        p {
            margin-top: 1rem;
            padding-right: 21.7%;
            @include tab {
                padding-right: 15.6%;
                max-height: 60px;
            }
            @include pc {
                margin-top: 1.7rem;
                max-height: 40px
            }
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__title {
        margin: 3rem 0 2.4rem;
        @include pc {
            margin: 5.3rem 0 4.7rem;
        }
    }
    &__btn {
        margin: 4rem auto;
        @include pc {
            margin: 6rem auto;
        }
    }
}