@charset "utf-8";
.p-grid {
    display: grid;
    gap: 2rem;
    margin: 3rem 0 3.3rem 0;
    @include tab {
        grid-template-columns: repeat(2,1fr);
        gap: 2rem 1.6rem;
        margin: 24.1rem 0 6.3rem 0;
    }
    @include pc {
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
        margin-top: 6rem;
    }
}