@charset "utf-8";
.p-list {
    padding-left: 2rem;
    @include tab {
        padding-left: 5rem;
    }
    ul {
        list-style: none;
        margin-left: -2rem;
    }
    ol:nth-child(2),ul:nth-child(5) {
        padding-left: 1.8rem;
    }
    ol,ul {
        margin-bottom: 2rem;
    }
    ol:nth-child(3) {
        margin-bottom: 6rem;
    }
    ul:nth-child(6) {
        margin-bottom: 3rem;
        @include tab {
            margin-bottom: 6rem;
        }
    }
}