@charset "utf-8";
.p-map {
    background: url(../images/front-img04.png), linear-gradient(rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 60%,rgba(0,0,0,0,) 60%,rgba(0,0,0,0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
    padding: 4.6rem 4rem 5.1rem;
    height: 691px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
    }
    @include tab {
        height: 415px;
        background-color: rgba(0,0,0,0.7);
    }
    @include pc {
        height: 649px;
        padding: 9rem 0 0 12rem;
        background: url(../images/front-img04.png), linear-gradient(90deg, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 61.3%,rgba(0,0,0,0,) 61.3%,rgba(0,0,0,0) 100%);
        background-size: 100% 100%;
    }
    &__map-title {
        padding-bottom: 4.6rem;
        @include pc {
            padding-bottom: 12.7rem;
        }
        &::after {
            top: 56px;
            left: 2px;
            @include pc {
                top: 99.5px;
            }
        }
    }
    &__map-txt {
        height: 518px;
        overflow: hidden;
        @include tab {
            height: 288px;
        }
        @include pc {
            width: 48.7%;
            height: 386px;
        }
    }
}