@charset "utf-8";
.p-map {
    background: url(../images/front-img04.png), linear-gradient(rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 60%,rgba(0,0,0,0,) 60%,rgba(0,0,0,0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
    padding: 4rem 4rem 5.1rem;
    height: 691px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
    }
    @include tab {
        height: 415px;
        padding: 4rem 3rem 0 4.2rem;
        background-color: rgba(0,0,0,0.7);
    }
    @include pc {
        height: 649px;
        padding: 8.3rem 0 0 12rem;
        background: url(../images/front-img04.png), linear-gradient(90deg, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 61.3%,rgba(0,0,0,0,) 61.3%,rgba(0,0,0,0) 100%);
        background-size: 100% 100%;
    }
    &__title {
        padding-bottom: 4rem;
        @include pc {
            padding-bottom: 12rem;
        }
        &::after {
            top: 59px;
            left: 2px;
            @include pc {
                top: 101.5px;
            }
        }
    }
    &__txt {
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 2.3;
        position: relative;
        height: 518px;
        overflow: scroll;
        @include tab {
            height: 288px;
        }
        @include pc {
            font-size: 1.6rem;
            line-height: 2;
            width: 48.7%;
            height: 386px;
        }
    }
}