@charset "utf-8";
.l-container {
    @include pc {
        width: 81%;
    }
    &__error {
        padding: 3rem 1.5rem;
        h2 {
            margin-bottom: 2.4rem;
        }
        p {
            margin-bottom: 1.6rem;
            a {
                text-decoration: underline;
            }
        }
    }
}