@charset "utf-8";
.l-main {
    &__inner-block {
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem 0;
        @include tab {
            flex-direction: row;
            padding: 4rem 0 0 4rem;
        }
        @include pc {
            padding: 7.7% 1.9% 0 7%;
        }
    }
/*=====archive======*/
    &__archive-inner-block {
        padding: 0 2rem;
        @include tab {
            padding: 0 4.2% 0 5.15%;
        }
        @include pc {
            padding: 0 6.44%;
        }
    }
/*=====single=====*/
    &__single-inner-block {
        padding: 0 2rem;
        @include tab {
            padding: 0 7.2%;
        }
        @include pc {
            padding: 0 6.44%;
        }
        h2 {
            font-size: 2.8rem;
            margin: 3.5rem 0 3.3rem;
            @include tab {
                font-size: 3.6rem;
                margin: 6.7rem 0 6.4rem; 
            }
        }
        p {
            margin-bottom: 3.9rem;
            @include tab {
                margin-bottom: 6.5rem;
            }
        }
        .large {
            font-size: 2.4rem;
            margin-bottom: 3.6rem;
            @include tab {
                font-size: 2.8rem;
                margin-bottom: 6.6rem;
            }
        }
        h3,h4,h5 {
            font-size: 2rem;
            margin-bottom: 3.4rem;
            @include tab {
                margin-bottom: 6.4rem;
            }
        }
        h6 {
            font-size: 2rem;
            margin-bottom: 3.1rem;
            @include tab {
                margin-bottom: 6.1rem;
            }
        }
        img {
            vertical-align: bottom;
        }
        b {
            display: block;
            margin-bottom: 7.1rem;
            @include pc {
                margin-bottom: 18rem;
            }
        }
    }
}   